@font-face {
    font-family: 'Welcome';
    src: url('TTWelcomeBold.woff2') format('woff2'),
        url('TTWelcomeBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

